:root{
    --nav-width: 250px;
    --nav-left: 0px;
    
}


*{
    margin: 0;
    padding: 0;  
    font-family: sans-serif; 
}

.Menu {
    background-color: #13216A;
    color: #FFF;
    height: 50px;
}
.Menu:hover {
    
    color: #FFF;
}

/* .diviFrame {
    padding-left: 0px;
    background-color: #EEEEEE;
} */
.diviFrame.mostra {
    padding-left: 163px;            
}

.navbar ul {
   margin-right:100px;
}

.navbar ul li a:hover{
    /* color: #FFF; */
    font-weight: bold;
    /* background-color: #0f5f08; */
   /*  //border-top: 3px solid white; */
   /*  border-bottom: 0.5px solid white; */
}

.logo{
    margin-top: -5px;
}

.iFrame {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    overflow-x: hidden;
    border: 0px solid #000;
}

.menuLateral{
    background-color: #13216A; 
    width: var(--nav-width);
    height: 100%;
    position: fixed;
    /*left: 30; */
    left: -250px; /* menu desaparece */  
    transition: left 0.5s;
}

.menuLateral .titulo{
    padding: 10px;

}

.menuLateral ul{ /* retira a "bolinha" do marcador de ul e li */
    list-style: none; 
}

.menuLateral ul li{ /* distancia entre os links */
    line-height: 40px;
    border-bottom: 0px solid white;
}

.menuLateral ul li a{
    margin-top: 5px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 30px;
    font-weight: bold; 
    display: block; /* passa a assumir todo o elemento */
}
.menuLateral ul li a:hover{ /* Ao passar o mouse */
    background-color: #082b5f;
    transition: 0.5s;
    border-radius: 20px;
}

.menuLateral ul ul li a{
    font-size: 16px;
    font-weight: 300;
    padding-left: 60px;
    background-color: #13216A;
}

.menuLateral ul ul{
    display: none; /* sumir subimenus */
}


.hamburgerAbre{
   /* position: absolute;*/
    top: 10px; /*15px*/
    /*left: 20px;*/
   /* background-color: black;*/
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 7px;
    margin-left: 50px;
    margin-right: 30px;
}

/* @media (max-width: 576px) {
    .btnAbre {
      color:red;
      text-align: left;
      margin-bottom: -90px;
      
    }
  }

  @media (max-width: 576px) {
    a.logo {
      background-color: #000;
     margin-left: 50px;
    }
  } */
  
  @media (max-width: 710px) {
    .hamburgerAbre{
        margin-left: 0px;
        margin-right: 0px;
    }
    .navbar1 {
      display: none;
    }
    .navbar-nav{
        margin-left: 0px;
    }
    .email{
        margin-bottom: -5px;
        margin-left: 50px;
    }

    .no-arrow .dropdown-toggle::after {
        display: none;
      }
  }

  .navbar1 a:hover{
    color: #fff;
  }

  .email a:hover{
    color: #fff;
  }


  .topbar-divider{
    width: 0;
  border-right: 1px solid #fff;
  height: calc(4.375rem - 2rem);
  margin: auto 1rem;
  }
  .nav-link{
    color: #FFF;
  }
.hamburgerAbre span{
    font-size: 35px;
}

.btnCadastros{
    
     color: white;
    
     cursor: pointer;
     text-align: center;
     
 }
 

.menuLateral.mostra{
    left: 0px; /* menu aparece */ 
    /*left: var(--nav-left);*/
}

.menuLateral.esconde{
    left: -250px; /* menu aparece */ 
    /*left: var(--nav-left);*/
}

.menuLateral ul li a span{
    font-size: 30px;
    position: absolute;
    right: 30px;
    transition: 0.4s;
}

.menuLateral ul li a span.gira{
    transform: rotate(90deg);
}

.menusecundario{
    background-color: #13216A; 
    width: var(--nav-width);
    height: 100%;
    position: fixed;
    /*left: 30; */
    left: -250px; /* menu desaparece */  
    transition: left 0.5s;
}

.menusecundario .titulo{
    margin-top: 5px;
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 45px;
    font-size: 24px;
    border-bottom: 0px solid red;
}

.menusecundario ul{
    list-style: none; 
}

.menusecundario ul li a{
    margin-top: 5px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 30px;
    font-weight: bold; 
    display: block; /* passa a assumir todo o elemento */
}

.menusecundario ul li{ /* distancia entre os links */
    line-height: 40px;
    border-bottom: 0px solid white;
}

.menusecundario ul li a:hover{ /* Ao passar o mouse */
    background-color: #082b5f;
    transition: 0.5s;
}

.menusecundario.mostra{
    left: 0px; /* menu aparece */ 
    /*left: var(--nav-left);*/
}

.menusecundario.esconde{
    left: -250px; 
}

.menuLateral li a.logout{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    display: block;
    position: relative;
    margin-bottom: 500px;
    margin-right: 180px;
    cursor: pointer;
}

.shadow {
    box-shadow: -2px 3px 10px 0px rgba(207, 169, 169, 0.75);
    -webkit-box-shadow: -2px 3px 10px 0px rgba(207, 169, 169, 0.75);
    -moz-box-shadow: -2px 3px 10px 0px rgba(207, 169, 169, 0.75);
}